<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <script>
    function authorizationCode(){
      window.location = new URL('http://localhost:8081/oauth2/authorization/keycloak');
    }
    function passwordLogin(){
      location.href="/oauth2Login?username=sun&password=1234"
    }
    function clientCredentials(){
      location.href="/clientCredentials"
    }
    function refreshTokenLogin(){
      location.href="/refreshToken?username=sun&password=1234"
    }
  </script>
</head>
<body>
<div>Welcome</div>
<form sec:authorize="isAnonymous()" action="#">
  <p><input type="button" onclick="authorizationCode()" value="AuthorizationCode Grant" />
  <p><input type="button" onclick="passwordLogin()" value="password login" />
  <p><input type="button" onclick="clientCredentials()" value="client credentials login" />
  <p><input type="button" onclick="refreshTokenLogin()" value="refresh token login" />
</form>
</body>
</html>